@font-face {
    font-family: banner-font;
    src: url(norse-bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: min(6px + 0.5vw + 0.5vh, 30px);

    --right-col-padding: min(4vh, 3rem);
    --input-box-margin: calc(var(--right-col-padding)/2);
    --theme-color: rgb(47, 165, 219);
    --theme-bg-color: rgb(233, 243, 248);
}

body {
    background-color: var(--theme-bg-color);
}

#main {
    height: 100vh;
    display: flex;
}

#left-col {
    position: relative;
    width: 30vw;
    background-image: url("photo-bg.jpeg");
    background-size: cover;
}

#banner {
    position: absolute;
    top: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#banner img {
    height: 9.5vh;
}

#banner .text {
    font-family: banner-font, Tahoma, sans-serif;
    font-size: 8vh;
    color: white;
    max-height: 0.8em;
}

#footer {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    padding: 0 10%;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#right-col {
    width: 70vw;
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
}

#intro,
#white-board,
#submit-login {
    padding: var(--right-col-padding);
}

#intro {
    height: 35vh;
    position: relative;
}

#intro .text {
    width: 80%;
    position: absolute;
    left: var(--right-col-padding);
    bottom: var(--right-col-padding);
}

#intro p,
#intro em,
#white-board p {
    font-size: 1.5rem;
}

#intro p,
#submit-login {
    margin-top: 1.5rem;
}

#form {
    height: 65vh;
}

#white-board {
    background-color: white;
    box-shadow: 0 0.2rem 5px rgb(190, 190, 190);
}

.input-row {
    display: flex;
/*    flex-wrap: wrap;*/
    gap: var(--input-box-margin);
    margin: var(--input-box-margin) 0;
}

#white-board label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(50, 50, 50);
    font-size: 0.8rem;
}

input {
    -webkit-appearance: none;
    appearance: none;
    
    width: clamp(10rem, 15rem + 5vw, 22rem);
    border: 0.1rem solid rgb(229, 231, 235);
    border-radius: 0.3rem;
    margin: 0.2rem 0 0 0;
    padding: 0.4rem;
    font-size: 0.9rem;
}

input:focus {
    outline-style: none;

    border-color: rgb(0, 0, 255);
    box-shadow: 0.2rem 0.2rem 5px rgb(218, 218, 218);
}

input:invalid, input.invalid {
    border-color: rgb(255, 0, 0);
}

.pw-invalid-msg {
    color: red;
    font-size: 0.8rem;
}

#submit-button-label {
    width: 14rem;
    border-radius: 0.5rem;
    background-color: var(--theme-color);
    box-shadow: 0.2rem 0.2rem 5px rgb(218, 218, 218);
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

a {
    font-weight: bold;
    color: var(--theme-color);
    text-decoration: none;
}

a:visited {
    color: var(--theme-color);
}