@font-face {
    font-family: banner-font;
    src: url(norse-bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: min(6px + 0.5vw + 0.5vh, 30px);
}

#main {
    height: 100vh;
    display: flex;
}

#left-col {
    position: relative;
    width: 30vw;
    background-image: url("photo-bg.jpeg");
    background-size: cover;
}

#banner {
    position: absolute;
    top: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#banner img {
    height: 9.5vh;
}

#banner .text {
    font-family: banner-font, Tahoma, sans-serif;
    font-size: 8vh;
    color: white;
    max-height: 0.8em;
}

#footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 10%;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#right-col {
    width: 70vw;
    background-color: lightgray;
    display: flex;
    flex-direction: column;

    --right-col-padding: min(4vh, 3rem);
    --input-box-margin: calc(var(--right-col-padding)/2);
}

#intro,
#white-board,
#submit-login {
    padding: var(--right-col-padding);
}

#intro {
    height: 35vh;
    position: relative;
}

#intro .text {
    width: 80%;
    position: absolute;
    left: var(--right-col-padding);
    bottom: var(--right-col-padding);
}

#intro p,
#intro em,
#white-board p {
    font-size: 1.5rem;
}

p {
    margin-top: var(--input-box-margin);
}

#form {
    height: 65vh;
}

#white-board {
    background-color: white;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--input-box-margin);
    margin: var(--input-box-margin) 0;
}

#white-board label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(50, 50, 50);
    font-size: 0.8rem;
}

#white-board input {
    width: clamp(10rem, 15rem + 5vw, 22rem);
    margin-top: 0.2rem;
}